/*
Program: Basic calculator program 
Programmer: Craig Parker
*/


#addition{
    height: 150px; 
}
#calculator{
  background-color: lightskyblue;
  width: 300px;
  height: 425px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
    
}
.calcMemory{
  display: inline-block;  
  height: 59px;
  width: 51px;
  border-radius: 8px;
  background-color: #e6e6e6;
}
.calcMemory:hover{
    background-color: #d3d3d3;  
}
.calcNumbers{
  display: inline-block;  
  padding: 20px;
  border-radius: 8px;
  background-color: #e6e6e6;
}
.calcNumbers:hover{
  background-color: #d3d3d3;   
}
#calcOutput{
    height: 50px;
    width: 212px;
    text-align: right;
    font-size: 35px;
}
#clear{
  display: inline-block;  
  height: 59px;
  width: 51px;
  background-color: #e12828;
  border-radius: 8px;
}
#clear:hover{
    background-color: #d70000;  
}

#container1{
   width: 225px;
   margin-left: auto;
   margin-right: auto;
}
.container2{
    float: left;
    padding: 2px;
}
#decimal{
    font-size: 20px;
    height: 59px;
}
#equals{
    height: 145px;
    width: 52px; 
    padding: 0px;
    border-radius: 8px;
    font-size: 20px;
    background-color: #e6e6e6;
}
#equals:hover{
    background-color: #d3d3d3; 
}
.operations{
  display: inline-block;  
  padding: 20px;
  width: 51px;
  height: 59px;
  border-radius: 8px;
  font-size: 20px;
  background-color: #e6e6e6;
}
.operations:hover{
  background-color: #d3d3d3;   
}

#zeroButton{
 padding: 20px;
 width: 106px;
 vertical-align: top; 
 background-color: #e6e6e6;
}
#zeroButton:hover{
 background-color: #d3d3d3   
}





